<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<header th:replace="include/header"></header>

<form action="/changePassword" method="post"
      class="col-md-3 align-self-center position-absolute translate-middle d-flex flex-column top-50 start-50">
    <h2 class="d-flex justify-content-center">Change password</h2>

    <div class="mb-3">
        <label for="currentPasswordInput" class="form-label">Current password</label>
        <input type="password" class="form-control" id="currentPasswordInput" name="currentPassword">
        <div id="currentPasswordError" class="form-text text-danger" hidden>Password does not match</div>
    </div>

    <div class="mb-3">
        <label for="newPasswordInput1" class="form-label">New password</label>
        <input type="password" class="form-control" id="newPasswordInput1" name="new-password">
        <div id="newPasswordError1" class="form-text text-danger" hidden>Password don't match.</div>
    </div>

    <button type="submit" class="btn btn-primary" id="submitBtn">Change password</button>
</form>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

</script>
</body>
</html>